@font-face {
  font-family: "Trirong";
  src: url("/asset/font/trirong.woff2") format("woff2");
  font-style: normal;
}
@font-face {
  font-family: "Lora Medium";
  src: url("/asset/font/Lora-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
* {
  font-family: "Lora", serif;
  box-sizing: border-box;
}
body {
  letter-spacing: 0.6px;
}
.Mobile_only .main_product-image-box img {
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
}
.main_product-images img {
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;
}
.shopify-section select,
.shopify-section option {
  font-family: Arial, Helvetica, sans-serif;
}
.main_product-image span,
.product-selector_compare,
.product-selector_atc,
.rev-star span,
.product_tab-content ul li strong,
.title_wrap,
.shopify-section .jdgm-write-rev-link,
.count,
.view_info span,
.time_rev span,
.rev-pagination span {
  font-family: "Montserrat", sans-serif;
}
.shopify-section .jdgm-medal__value p {
  font-family: "Nunito Sans", "Helvetica", Arial, sans-serif;
}
.product_lymph-ingr-thumb h5,
.rev_title,
.tracking-normal,
.product_why-bloat-cell-inn h4 {
  font-family: "Trirong", serif;
}
.shopify-section .opensan,
.shopify-section .opensan span,
.testimonial-cta p {
  font-family: "Open sans", serif !important;
}
.shopify-section p,
.shopify-section .kaching-bundles__free-gift__text,
.col_pp_delivery__Date,
.shopify-section strong,
.product_judge-outer p,
.product_why-nothing-subtitle span,
.shopify-section a,
.product_primary-btn-footer span {
  font-family: "Nunito", sans-serif;
}
.shopify-section .text-if {
  font-family: "Lora Medium", serif;
  font-weight: 500;
}
.iframe .flex-if {
  padding-right: 10px;
  opacity: 1;
  transition: all 0.4s;
  visibility: unset;
}
.iframe.active .flex-if {
  opacity: 0;
  max-width: 0;
  padding: 0;
  visibility: hidden;
}
.iframe .flex-if {
  z-index: 1;
}
.iframe.active .flex-if {
  z-index: 0;
}
.iframe .none {
  z-index: 0;
}
.iframe.active .none {
  z-index: 1;
}
.product_tab-block .product_tab-thumb span img {
  transition: all 0.2s;
}
.product_tab-block .product_tab-content,
.product_lymph-ingr-content {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: max-height 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    padding-top 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: max-height;
}

.product_tab-block.block-rev.active {
  border: 1px solid #039869;
}
.product_tab-block.active .product_tab-thumb span img {
  transform: rotate(45deg);
}
.product_tab-block.active .product_tab-content {
  padding-top: 16px;
  max-height: 2000px;
}

.product_lymph-ingr-content.active {
  padding-top: 12px;
  max-height: 2000px;
}
.product_tab-thumb p,
.product_tab-content p {
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 1.3em;
  letter-spacing: 0;
}
.product_tab-content ul {
  display: block;
  list-style-type: disc;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  margin: 16px 0;
}
.product_tab-content ul li {
  font-family: "Montserrat";
  color: rgb(0 0 0 / 75%);
  display: list-item;
  unicode-bidi: isolate;
  line-height: 28.8px;
}

.section_press_logos_outer .logos_wrap {
  animation: logo_scroll 30s infinite linear;
}
.pli_top-text ul li {
  padding-left: 32px;
  color: #0c7c00;
  background-image: url(/asset/img/check-mark.png);
  background-size: 20px;
  background-repeat: no-repeat;
  list-style: none;
  font-weight: 600;
  font-family: Nunito;
  margin: 8px 0;
}
.pli_bottom-text ul li,
.pli_pink-text ul li {
  padding-left: 32px;
  color: #a60003;
  background-image: url(/asset/img/check-mark2.png);
  background-size: 20px;
  background-repeat: no-repeat;
  list-style: none;
  font-weight: 600;
  font-family: Nunito;
  margin: 8px 0;
}

.rating-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star.on {
  color: #fa8a8a;
}

.star.off {
  color: transparent;
  -webkit-text-stroke: 1.5px #fa8a8a;
  text-stroke: 1.5px #fa8a8a;
}
.view_icon::before {
  font-family: "Font Awesome 7 Free";
  font-size: 20px;
  line-height: 36px;
  content: "\f007";
  color: #fa8a8a;
}
.view_icon::after {
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  content: "\f00c";
  color: #fff;
  position: absolute;
  background-color: #fa8a8a;
  width: 12px;
  height: 12px;
  text-align: center;
  font-size: 6px;
  line-height: 11px;
  bottom: 0;
  right: 0;
}
.slick-initialized .slick-slide {
  padding: 8px;
}
.slick-initialized .slick-slide .product_video {
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.pdp-video-wrap {
  position: relative;
  cursor: pointer;
}

.pdp-video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.pdp-play-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  border-radius: 4px;
}
.pdp-play-overlay::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("/asset/img/mingcute_play-fill.webp");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.pdp-video::-webkit-media-controls,
.pdp-video::-webkit-media-controls-panel {
  display: none !important;
  opacity: 0 !important;
}
.shopify-section .my_slider .slick-dots {
  text-align: left;
  width: 100%;
  display: flex;
  max-width: calc(100% - 200px);
  position: relative;
  bottom: unset;
  margin: 25px 0 0;
}

.shopify-section .my_slider .slick-dots li {
  width: 100%;
  margin: 0;
  line-height: 1.8;
}
.shopify-section .my_slider .slick-dots li button::before {
  display: none;
}
.shopify-section .my_slider .slick-dots li button {
  width: 100%;
  background: #00000026;
  height: 4px;
  padding: 0;
}
.shopify-section .my_slider .slick-dots li.slick-active button {
  background: #039869;
}
.shopify-section .my_slider .slick-arrow {
  right: 0;
  left: unset;
  top: unset;
  bottom: -15px;
  width: 32px;
  height: 32px;
}
.shopify-section .my_slider .slick-prev::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/asset/img/arrow_left.webp");
  background-size: contain;
  background-repeat: no-repeat;
  right: 45px;
  opacity: 1 !important;
  position: relative;
}
.shopify-section .my_slider .slick-next::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-image: url("/asset/img/arrow_left.webp");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1 !important;
  transform: rotate(180deg);
}
.faq_box .faq_content {
  max-height: 0;
  overflow: hidden;
  padding-top: 0;
  transition: max-height 0.5s cubic-bezier(0.22, 1, 0.36, 1),
    padding-top 1.5s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: max-height;
  overflow: hidden;
}
.faq_box .faq_icon {
  transition: all 0.3s ease;
}
.faq_box.active .faq_icon {
  transform: rotate(180deg);
}
.faq_box.active .faq_content {
  padding-top: 16px;
  max-height: 1000px;
}
.product-selector_block .product-selector_bubble_inn {
  opacity: 0;
}
.product-selector_block .product-selector_perks {
  opacity: 0.6;
}
.product-selector_block.is-selected {
  border-color: #039869;
}
.product-selector_block.is-selected .product-selector_perks {
  opacity: 1;
}
.hide {
  display: none;
}
.product-selector_block.is-selected .product-selector_bubble_inn {
  opacity: 1;
}
@media only screen and (max-width: 678px) {
  .Desktop_only {
    display: none !important;
  }
  .shopify-section p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 678px) {
  .Mobile_only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .bar {
    margin: 0 24px;
    width: 140px;
    display: block;
  }
}
@keyframes logo_scroll {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-50%);
  }
}
